body, html{
    height: 100%;
    margin: 0;
    font-family: Arial,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: #2c3e50;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.login-box{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 60px 40px 40px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 350px;
    width: 100%;
    position: relative;
    color: #f0f0f0;
}
.login-title{
    color: #f0f0f0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.input-group{
    margin-bottom: 25px;
    position: relative;
}
.input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0f0f0;
    font-size: 18px;
}
.input-group input{
    width: 100%;
    padding: 12px 20px 12px 50px;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    font-size: 16px;
}
.input-group input::placeholder{
    color: rgba(240, 240, 240, 0.7);
}
.input-group input:focus{
    background: rgb(255, 255, 255, 0.3);
    outline: none;
    box-shadow: 0 0 8px rgb(255, 204, 51, 0.7);
    border: 1px solid #ffcc33;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 20px;
}
.remember-forgot a{
    color: #f0f0f0;
    text-decoration: none;
}
.login-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ffcc33;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.login-btn:hover{
    background-color: #ffa500;
    transform: scale(1.05);
    color: #fff;;
}
.register-link{
    margin-top: 15px;
    color: #f0f0f0;
    font-size: 14px;
}
.register-link a{
    color: #ffcc33;
    text-decoration: none;
    font-weight: bold;
}

/*signup*/
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.signup-box{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 60px 40px 40px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 350px;
    width: 100%;
    position: relative;
    color: #f0f0f0;
}
.signup-title{
    color: #f0f0f0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.input-group{
    margin-bottom: 25px;
    position: relative;
}
.input-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0f0f0;
    font-size: 18px;
}
.input-group input{
    width: 100%;
    padding: 12px 20px 12px 50px;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    font-size: 16px;
}
.input-group input::placeholder{
    color: rgba(240, 240, 240, 0.7);
}
.input-group input:focus{
    background: rgb(255, 255, 255, 0.3);
    outline: none;
    box-shadow: 0 0 8px rgb(255, 204, 51, 0.7);
    border: 1px solid #ffcc33;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 20px;
}
.remember-forgot a{
    color: #f0f0f0;
    text-decoration: none;
}
.signup-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ffcc33;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.signup-btn:hover{
    background-color: #ffa500;
    transform: scale(1.05);
    color: #fff;;
}
.register-link{
    margin-top: 15px;
    color: #f0f0f0;
    font-size: 14px;
}
.register-link a{
    color: #ffcc33;
    text-decoration: none;
    font-weight: bold;
}
